body { padding: 0px; background-color: #CBB67F; font: normal 14px segoe ui,Arial,sans-serif; color: #515151; }
.main-wrapper { width: 980px; height: auto; margin: -8px auto 0px; padding: 0px; background-color: #FFF; }
.main-header { width: 100%; height: auto; float: left; }
	.main-header .main-logo { float: left; }
	.main-header .main-eslogan { float: right; }
	.main-header .main-text { width: 595px; height: 123px; float: left; padding: 10px; text-align: center; font: normal 35px Monotype Corsiva, segoe ui,Arial,sans-serif; color: #8B5A25; background: url("/Image/_Main/Menu.png") repeat-x scroll 0 0 / auto 143px rgba(0, 0, 0, 0); border-right: 2px solid #8B5A25; }
	.main-header .main-menu { width: 100%; float: left; font: normal 14px segoe ui,Arial,sans-serif; background-color:#C8DED4; border-top:  2px solid #8B5A25; border-bottom: 2px solid #57AEDC; }
		.main-header .main-menu a { float: left; margin: 0 2px; padding: 8px; background-color: #C8DED4; color: #515151; text-decoration: none; }
		.main-header .main-menu a:hover { font-size:15px; font-weight:600; }
		.main-header .main-menu-activities { padding-left: 35px !important; background: url("/Image/_Main/icon-calendar.png") no-repeat scroll 5px center / 25px 25px transparent; }
		.main-header .main-menu-activities:hover { background: url("/Image/_Main/icon-calendar-hover.png") no-repeat scroll 5px center / 25px 25px transparent; }
		.main-header .main-menu-album { padding-left: 35px !important; background: url("/Image/_Main/icon-camera.png") no-repeat scroll 5px center / 25px 25px transparent; }
		.main-header .main-menu-album:hover  { background: url("/Image/_Main/icon-camera-hover.png") no-repeat scroll 5px center / 25px 25px transparent; }

.main-body { width: calc(100%); height: auto; float: left; padding: 0px; background-color: #FFF; }
	.main-body .main-container { width: calc(100% - 60px); height: auto; padding: 30px; float: left; }
